@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body {
  background-color: #1a0b2e;
  overflow-x:hidden;
}

.font {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
}

/* Navbar Section */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.techwave-nav {
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

.optionbar {
  display: flex;
  gap: 32px;
}
.nav-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.wave {
  background-image: linear-gradient(
    135deg,
    #f7e93f 0%,
    #fb09b4 51%,
    #9100f8 100%
  );
  -webkit-background-clip: text;
  color: transparent;
}

.btn-sub {
  background-image: linear-gradient(
    135deg,
    #f7e93f 0%,
    #fb09b4 51%,
    #9100f8 100%
  );
  padding: 10px 20px;
  border-radius: 100px;
  border: none;
  color: white;
  cursor: pointer;
}

.hamburger-menu {
  display: none;
  font-size: 1.375rem;
  color: white;
}

/* Hero Section */
.hero-container {
  min-height: 760px;
  width: 100%;
  background-image: url(/assets/hero-bg.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
}

.hero-wave {
  position: relative;
  max-width: 650px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.hero-circle {
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;
  top: 10px;
  right: 30px;
  width: 80px;
}

.microphone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
}

.hero-overlay {
  max-width: 650px;
}

.techwave-hero {
  color: white;
  font-size: 4.37rem;
  font-weight: 800;
}

.techwave-hero-p {
  color: white;
  font-size: 1.12rem;
  margin-top: 10px;
}

.hero-buttons {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.btn-primary {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 25px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(135deg, #f7e93f, #fb09b4, #9100f8);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.btn-outline {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 25px;
  border-radius: 30px;
  border: 2px solid #00ff88;
  background: transparent;
  color: #00ff88;
  cursor: pointer;
}

/* About Section */

.about-content {
  margin-top: 50px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 160px;
}
.about-content > h1 {
  color: white;
  font-size: 3rem;
  font-weight: 700;
}

.about-content > p {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 16px;
}

.about-rating {
  margin-bottom: 120px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.rating {
  color: #00ff88;
  font-size: 3rem;
  font-weight: 900;
}
.rating-card {
  width: 240px;
  height: 95px;
  text-align: center;
}
.rating-p {
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

/* choose section */
.choose {
  max-width: 1200px;
  margin: 120px auto;
  padding: 0 20px;
}

.choose-title {
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 40px;
}

.choose-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  background: #2a0f4d;
  padding: 30px;
  border-radius: 20px;
  color: white;
}

.card img {
  width: 60px;
  margin-bottom: 16px;
}

.card h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.card p {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
}

.card-1 {
  grid-row: span 2;
  padding-top: 90px;
}

.card-2 {
  grid-column: span 2;
}

.card-3 {
  grid-column: span 2;
}

.card-4 {
  grid-column: span 2;
}

/* featured Section */

.featured {
  max-width: 1200px;
  margin: 120px auto;
  padding: 0 20px;
}

.episodes-title {
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 60px;
}

.episodes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.episode-card-1,
.episode-card-2,
.episode-card-3 {
  background: #2a0a4a48;
  padding: 20px;
  border-radius: 16px;
  color: white;
}

.episode-video iframe {
  width: 100%;
  height: 214px;
  border-radius: 16px;
}

.episodes-grid h3 {
  margin-top: 15px;
  font-size: 1.5rem;
  font-weight: 700;
}

.episodes-grid p {
  font-size: 1rem;
  color: #ffffff;
  margin: 12px 0 12px;
}

.episode-time {
  color: #00ff88;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1rem;
}

/* host section */

.host {
  max-width: 1200px;
  margin: 120px auto;
  padding: 0 20px;
}

.host-title {
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 40px;
}

.host-card {
  background: #2a0a4a;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.host-card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.host-info h3 {
  color: white;
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 16px;
}

.host-info p {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
}

.host-social {
  margin-top: 10px;
  display: flex;
  gap: 12px;
}

.host-social img {
  width: 40px;
  height: 40px;
}

/* footer section */
.footer {
  background: url('/assets/footer-bg.png') center/cover no-repeat;
  padding: 80px 20px;
  text-align: center;
}

.footer-title {
  color: white;
  font-size: 3rem;
  font-weight: 800;
}

.footer-title span {
  background: linear-gradient(90deg, #ff00cc, #ffcc00);
  -webkit-background-clip: text;
  color: transparent;
}

.footer-platforms {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-platforms a {
  display: flex;
  align-items: center;
  gap: 4px;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}

.footer-platforms img {
  width: 24px;
}

.footer-copy {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fafafa;
}

@media screen and (max-width: 576px) {
  .optionbar {
    display: none;
  }

  .btn-sub {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .hero-container {
    background-size: 720px;
    background-position: center 80px;
    min-height: 680px;
    background-repeat: no-repeat;
  }

  .badge {
    position: absolute;
    top: -8px;
    right: 20px;
    width: 80px;
  }

  .circle-img {
    width: 200px;
  }

  .microphone {
    width: 60px;
  }

  .techwave-hero {
    font-size: 2.6rem;
  }

  .techwave-hero-p {
    font-size: 1.2rem;
    padding: 0 20px;
  }

  .hero-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 12px;
    flex-wrap: wrap;
  }

  .btn-primary,
  .btn-outline {
    padding: 10px 18px;
    font-size: 1.2rem;
  }

 
  .about-content h1 {
    font-size: 2rem;
  }
  .about-content p {
    font-size: 1.2rem;
  }
  .about-rating {
    
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .rating-card {
    width: 45%;
  }

  .rating {
    font-size: 36px;
  }

  .rating-p {
    font-size: 0.8rem;
  }
  .choose-grid {
    grid-template-columns: 1fr;
  }

  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5 {
    grid-column: span 1;
    grid-row: auto;
  }

  .episodes-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .host-card {
    flex-direction: column;
    text-align: center;
  }

  .footer-content {
    text-align: center;
  }

  .footer-title {
    font-size: 2rem;
    margin-bottom: 24px;
  }

  .footer-platforms {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
    margin-bottom: 15px;
  }

  .footer-platforms a {
    font-size: 1.2rem;
  }

  .footer-copy {
    font-size: 1.2rem;
  }
}
